{% extends 'base.html.twig' %}

{% block title %}Editar produto{% endblock %}

{% block body %}
    <h1>Editar produto</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('product_index') }}">voltar</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
