{% extends 'base.html.twig' %}

{% block title %}Novo produto{% endblock %}

{% block body %}
    <h1>Criar novo produto</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('product_index') }}">voltar</a>
{% endblock %}
